<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2017 ViA-Online GmbH. All rights reserved.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="viaebay_connector" frontName="viaebay_connector">
            <module name="VIAeBay_Connector"/>
        </route>
    </router>
</config>
